In [240]:
import pandas as pd
import numpy as np
from time import time

In [241]:
start_time = time()
dataframe = pd.read_csv('cases_per_day.csv', header=None, sep=',')
print(time()-start_time)

0.01897144317626953

In [242]:
dataframe.columns = ['date', 'confirmed', 'recovered', 'deaths', 'active']
dataframe.head()

        date  confirmed  recovered  deaths  active
0  2020-1-22        548         28      17     503
1  2020-1-23        643         30      18     595
2  2020-1-24        920         36      26     858
3  2020-1-25       1406         39      42    1325
4  2020-1-26       2075         49      56    1970

In [243]:
dataframe['date'] =pd.to_datetime(dataframe['date'])
dataframe.groupby('date').head()

          date  confirmed  recovered  deaths  active
0   2020-01-22        548         28      17     503
1   2020-01-23        643         30      18     595
2   2020-01-24        920         36      26     858
3   2020-01-25       1406         39      42    1325
4   2020-01-26       2075         49      56    1970
..         ...        ...        ...     ...     ...
410 2020-04-09      18092        173     950   16969
411 2020-04-10      19638        173    1057   18408
412 2020-04-11      20727        173    1124   19430
413 2020-04-12      22192        173    1223   20796
414 2020-04-13      23430        173    1328   21929

[415 rows x 5 columns]

In [244]:
grouped_agg_df = dataframe.sort_values(by='date').groupby('date').agg(
    {
        'confirmed':sum,
        'recovered':sum,
        'deaths':sum,
        'active':sum,

    }
)
grouped_agg_df

            confirmed  recovered  deaths   active
date
2020-01-22        555         28      17      510
2020-01-23        654         30      18      606
2020-01-24        941         36      26      879
2020-01-25       1434         39      42     1353
2020-01-26       2118         52      56     2010
...               ...        ...     ...      ...
2020-04-09    1594421     353319   95437  1145665
2020-04-10    1690721     375418  102505  1212798
2020-04-11    1770483     401426  108483  1260574
2020-04-12    1845646     421038  114071  1310537
2020-04-13    1916285     447971  119462  1348852

[83 rows x 4 columns]

In [245]:
grouped_agg_df.to_csv('cases_per_day_agg.csv')

In [246]:
for i in range(len(grouped_agg_df)-1):
    for j in range(0,i+1):
        grouped_agg_df['confirmed'][i+1] = int(grouped_agg_df['confirmed'][i+1]) - int(grouped_agg_df['confirmed'][j])
        grouped_agg_df['recovered'][i+1] = grouped_agg_df['recovered'][i+1] - grouped_agg_df['recovered'][j]     
        grouped_agg_df['deaths'][i+1] = grouped_agg_df['deaths'][i+1] - grouped_agg_df['deaths'][j]     
        grouped_agg_df['active'][i+1] = grouped_agg_df['active'][i+1] - grouped_agg_df['active'][j]

In [247]:
grouped_agg_df.to_csv('cases_per_day_diff.csv')