In [46]:
import pandas as pd
import numpy as np
from time import time

In [47]:
start_time = time()
dataframe = pd.read_csv('cases_per_day.csv', header=None, sep=',')
print(time()-start_time)

0.014986276626586914

In [48]:
dataframe.columns = ['date', 'confirmed', 'recovered', 'deaths', 'active','country']
dataframe.head()

        date  confirmed  recovered  deaths  active country
0  2020-1-22        548         28      17     503   China
1  2020-1-23        643         30      18     595   China
2  2020-1-24        920         36      26     858   China
3  2020-1-25       1406         39      42    1325   China
4  2020-1-26       2075         49      56    1970   China

In [49]:
dataframe['date'] =pd.to_datetime(dataframe['date'])
dataframe.groupby('date').head()

          date  confirmed  recovered  deaths  active country
0   2020-01-22        548         28      17     503   China
1   2020-01-23        643         30      18     595   China
2   2020-01-24        920         36      26     858   China
3   2020-01-25       1406         39      42    1325   China
4   2020-01-26       2075         49      56    1970   China
..         ...        ...        ...     ...     ...     ...
455 2020-04-18      36658      14026    2354   20278  Brazil
456 2020-04-19      38654      22130    2462   14062  Brazil
457 2020-04-20      40743      22130    2587   16026  Brazil
458 2020-04-21      43079      22991    2741   17347  Brazil
459 2020-04-22      45757      25318    2906   17533  Brazil

[460 rows x 6 columns]

In [50]:
grouped_agg_df = dataframe.sort_values(by='date').groupby('date').agg(
    {
        'confirmed':sum,
        'recovered':sum,
        'deaths':sum,
        'active':sum,

    }
)
grouped_agg_df

            confirmed  recovered  deaths   active
date
2020-01-22        555         28      17      510
2020-01-23        654         30      18      606
2020-01-24        941         36      26      879
2020-01-25       1434         39      42     1353
2020-01-26       2118         52      56     2010
...               ...        ...     ...      ...
2020-04-18    2316490     591568  159481  1565441
2020-04-19    2399833     623152  165015  1611666
2020-04-20    2470988     644987  169957  1656044
2020-04-21    2547845     679068  176554  1692223
2020-04-22    2622811     708943  183036  1730832

[92 rows x 4 columns]

In [51]:
grouped_agg_df.to_csv('./CountryData/cases_per_day_agg_all.csv')

In [52]:
for i in range(len(grouped_agg_df)-1):
    for j in range(0,i+1):
        grouped_agg_df['confirmed'][i+1] = int(grouped_agg_df['confirmed'][i+1]) - int(grouped_agg_df['confirmed'][j])
        grouped_agg_df['recovered'][i+1] = grouped_agg_df['recovered'][i+1] - grouped_agg_df['recovered'][j]     
        grouped_agg_df['deaths'][i+1] = grouped_agg_df['deaths'][i+1] - grouped_agg_df['deaths'][j]     
        grouped_agg_df['active'][i+1] = grouped_agg_df['active'][i+1] - grouped_agg_df['active'][j]

In [53]:
grouped_agg_df.to_csv('./CountryData/cases_per_day_diff_all.csv')

In [45]:
countries = dataframe['country'].unique()
for i in range(len(countries)):
    per_country_data = dataframe[dataframe['country']==countries[i]]
    grouped_agg_df = per_country_data.sort_values(by='date').groupby('date').agg(
    {
        'confirmed':sum,
        'recovered':sum,
        'deaths':sum,
        'active':sum,

        }
    )
    grouped_agg_df.to_csv(f'./CountryData/cases_per_day_agg_{countries[i].replace("*","")}.csv')
    for i in range(len(grouped_agg_df)-1):
        for j in range(0,i+1):
            grouped_agg_df['confirmed'][i+1] = int(grouped_agg_df['confirmed'][i+1]) - int(grouped_agg_df['confirmed'][j])
            grouped_agg_df['recovered'][i+1] = grouped_agg_df['recovered'][i+1] - grouped_agg_df['recovered'][j]     
            grouped_agg_df['deaths'][i+1] = grouped_agg_df['deaths'][i+1] - grouped_agg_df['deaths'][j]     
            grouped_agg_df['active'][i+1] = grouped_agg_df['active'][i+1] - grouped_agg_df['active'][j]    
    grouped_agg_df.to_csv(f'./CountryData/cases_per_day_diff_{countries[i].replace("*","")}.csv')